/Ficha3/build/
/Aula3/nbproject/private/
/Aula3/build/
/FIcha4/nbproject/private/
/Ficha4/nbproject/private/
/Ficha4/build/
/Ficha5/nbproject/private/
/Ficha5/build/
/AulaRMI/target/
/Aula/nbproject/private/
/Aula/build/
/Aula/dist/
/rmi/nbproject/private/
/rmi/dist/
/rmi/build/
/Ficha6/nbproject/private/
/ExemploRMI/nbproject/private/
/Ficha6/Ex1/nbproject/private/
/ExemploRMI/build/
/ExemploRMI/dist/
/Ficha6/Ex2-servidor/nbproject/private/
/Ex2-Servidor/nbproject/private/
/Ex1/nbproject/private/
/Ficha6/Ex2-cliente/nbproject/private/
/Ficha6/Ex2-cliente/build/
/Ficha6/Ex2-servidor/build/
/Ex1/build/
/Ex1/dist/
/Ficha6/Ex2-cliente/dist/
/Ficha6/Ex2-servidor/dist/
/Ficha7/nbproject/private/
/Ficha7_Cliente/nbproject/private/
/Ficha7_Servidor/nbproject/private/
/Ficha7_Cliente/build/
/Ficha7_Servidor/build/
/Ficha8_cliente_consulta/nbproject/private/
/Ficha8_cliente_atualizacao/nbproject/private/
/Ficha8_servidor/nbproject/private/
/Ficha8_servidor/build/
/Ficha8_cliente_consulta/build/
/Ficha8_cliente_atualizacao/build/
/RestHello/target/
/RestHello1/nbproject/private/
/RestHello1/build/
/Ficha9/nbproject/private/
/Ficha9/build/
/Ficha10_Servidor/nbproject/private/
/Ficha10_Servidor/build/
/Ficha10_Cliente/nbproject/private/
/Ficha10_Cliente/build/
/Ficha10_Cliente/dist/
/Ficha9/dist/
/Ficha10_Servidor/dist/
/SudokuServer/nbproject/private/
/SudokuServer/build/
